GestoreFascicoloWS/WebContent/WEB-INF/wsdl_client/DocumentiEsattorialiHttpsEndpoint.wsdl

<wsdl:definitions targetNamespace="http://bpel.documentiesattoriali.equitalia.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl1="http://ws.documentiEsattoriali.equitalia.it/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://bpel.documentiesattoriali.equitalia.it" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
   <wsdl:types>
      <schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://bpel.documentiesattoriali.equitalia.it" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://service.documentiWeb.almaviva.csc.it/">
         <element name="BPSDocumentiEsattorialiRequest">
            <complexType>
               <sequence>
                  <element name="codiceFiscale" type="string"/>
               </sequence>
            </complexType>
         </element>
         <element name="BPSDocumentiEsattorialiResponse">
            <complexType>
               <sequence>
			      <element name="esito" nillable="true" type="string" minOccurs="1" maxOccurs="1"/>
				  <element name="descrizioneEsito" nillable="true" type="string" minOccurs="1" maxOccurs="1"/>					
                  <element maxOccurs="1" minOccurs="0" name="documenti" type="tns:documentiType"/>
               </sequence>
            </complexType>
         </element>
         <complexType name="documentiType">
            <sequence>
               <element name="documento" maxOccurs="unbounded" minOccurs="1" type="tns:documentoType"/>
            </sequence>
         </complexType>
         <complexType name="documentoType">
            <sequence>
               <element name="numeroDocumento" nillable="true" type="string"/>
               <element name="tipoModello" nillable="true" type="string" />
               <element name="statoDocumento" nillable="true" type="string" />
               <element name="importo" nillable="true" type="string" />
               <element name="dataSpedizione" nillable="true" type="string" />
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="BPSDocumentiEsattorialiRequestMessage">
      <wsdl:part name="payload" element="tns:BPSDocumentiEsattorialiRequest"/>
   </wsdl:message>
   <wsdl:message name="BPSDocumentiEsattorialiResponseMessage">
      <wsdl:part name="payload" element="tns:BPSDocumentiEsattorialiResponse"/>
   </wsdl:message>
   <wsdl:portType name="DocumentiEsattorialiPortType">
      <wsdl:operation name="process">
         <wsdl:input message="tns:BPSDocumentiEsattorialiRequestMessage" wsaw:Action="http://bpel.documentiesattoriali.equitalia.it/process"/>
         <wsdl:output message="tns:BPSDocumentiEsattorialiResponseMessage" wsaw:Action="//bpel.documentiesattoriali.equitalia.it/BPSDocumentiEsattoriali/processResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="DocumentiEsattorialiSoap11Binding" type="tns:DocumentiEsattorialiPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="process">
         <soap:operation soapAction="http://bpel.documentiesattoriali.equitalia.it/process" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="DocumentiEsattorialiSoap12Binding" type="tns:DocumentiEsattorialiPortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="process">
         <soap12:operation soapAction="http://bpel.documentiesattoriali.equitalia.it/process" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="DocumentiEsattorialiHttpBinding" type="tns:DocumentiEsattorialiPortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="process">
         <http:operation location="process"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="DocumentiEsattoriali">
      <wsdl:port name="DocumentiEsattorialiHttpSoap11Endpoint" binding="tns:DocumentiEsattorialiSoap11Binding">
         <soap:address location="http://server2003:8280/services/DocumentiEsattoriali.DocumentiEsattorialiHttpSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="DocumentiEsattorialiHttpsSoap11Endpoint" binding="tns:DocumentiEsattorialiSoap11Binding">
         <soap:address location="https://server2003:8243/services/DocumentiEsattoriali.DocumentiEsattorialiHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="DocumentiEsattorialiHttpsSoap12Endpoint" binding="tns:DocumentiEsattorialiSoap12Binding">
         <soap12:address location="https://server2003:8243/services/DocumentiEsattoriali.DocumentiEsattorialiHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="DocumentiEsattorialiHttpSoap12Endpoint" binding="tns:DocumentiEsattorialiSoap12Binding">
         <soap12:address location="http://server2003:8280/services/DocumentiEsattoriali.DocumentiEsattorialiHttpSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="DocumentiEsattorialiHttpsEndpoint" binding="tns:DocumentiEsattorialiHttpBinding">
         <http:address location="https://server2003:8243/services/DocumentiEsattoriali.DocumentiEsattorialiHttpsEndpoint"/>
      </wsdl:port>
      <wsdl:port name="DocumentiEsattorialiHttpEndpoint" binding="tns:DocumentiEsattorialiHttpBinding">
         <http:address location="http://server2003:8280/services/DocumentiEsattoriali.DocumentiEsattorialiHttpEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>