GestoreFascicoloWS/WebContent/wsdl/GestoreFascicoloWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="http://source.gestorefascicolows.equitalia.it" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://source.gestorefascicolows.equitalia.it" xmlns:intf="http://source.gestorefascicolows.equitalia.it" xmlns:tns1="http://dati.gestorefascicolows.equitalia.it" xmlns:tns2="http://srv.gestorefascicolows.equitalia.it" xmlns:tns3="http://xsd.bpel.pdfdocumentostandardcallback.equitalia.it" xmlns:tns4="http://xsd.bpel.relatedocumentostandardcallback.equitalia.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   
   <wsdl:types>
	  <xsd:schema elementFormDefault="qualified" targetNamespace="http://xsd.bpel.relatedocumentostandardcallback.equitalia.it">
			<xsd:include schemaLocation="RelateDocumentoStandardCallBack.xsd"/>
      </xsd:schema>
	  <xsd:schema elementFormDefault="qualified" targetNamespace="http://xsd.bpel.pdfdocumentostandardcallback.equitalia.it">
			<xsd:include schemaLocation="pdfdocumentostandardcallback.xsd"/>
	  </xsd:schema> 
	  
      <schema elementFormDefault="qualified" targetNamespace="http://dati.gestorefascicolows.equitalia.it" xmlns="http://www.w3.org/2001/XMLSchema">
      	<import namespace="http://srv.gestorefascicolows.equitalia.it"/>
      	 
      		
      	<element name="aperturaFascicoloWSRequest">
      		<complexType>
      			<sequence>
      				<element maxOccurs="1" minOccurs="1" name="fascicoloId" type="xsd:string"/>
      				<element maxOccurs="1" minOccurs="1" name="callerId" type="xsd:string"/>
      				<element maxOccurs="1" minOccurs="0" name="dataApertura" type="xsd:string"/>
      				<element maxOccurs="1" minOccurs="1" name="codiceFiscale" type="xsd:string"/>
      				<element maxOccurs="1" minOccurs="1" name="naturaGiuridica" type="xsd:string"/>
      				<element maxOccurs="1" minOccurs="1" name="nome" type="xsd:string"/>
      				<element maxOccurs="1" minOccurs="1" name="cognome" type="xsd:string"/>
      				<element maxOccurs="1" minOccurs="1" name="indirizzo" type="xsd:string"/>
      				<element maxOccurs="1" minOccurs="1" name="ragioneSociale" type="xsd:string"/>
      			</sequence>
      		</complexType>
      	</element>
      	<element name="aperturaFascicoloWSResponse">
      		<complexType>
      			<sequence>
      				<element name="esito" type="xsd:string"/>
      				<element name="descrizione" type="xsd:string"/>
      			</sequence>
      		</complexType>
      	</element>
      	<element name="chiusuraFascicoloWSRequest">
      		<complexType>
      			<sequence>
      				<element name="fascicoloId" type="xsd:string"/>
      				<element name="dataChiusura" type="xsd:string"/>
      				<element name="callerId" type="xsd:string"/>
      			</sequence>
      		</complexType>
      	</element>
      	<element name="chiusuraFascicoloWSResponse">
      		<complexType>
      			<sequence>
      				<element name="esito" type="xsd:string"/>
      				<element name="descrizione" type="xsd:string"/>
      			</sequence>
      		</complexType>
      	</element>
      	<element name="getFascicoloWSRequest">
      		<complexType>
      			<sequence>
      				<element name="fascicoloId" type="xsd:string"/>
      				<element name="callerId" type="xsd:string"/>
      			</sequence>
      		</complexType>
      	</element>
      	<complexType name="indirizzo">
      		<sequence>
      			<element name="indirizzoId" nillable="true" type="xsd:int"/>
      			<element name="indirizzo" nillable="true" type="xsd:string"/>
      			<element name="indirizzoPrincipale" nillable="true" type="xsd:string"/>
      		</sequence>
      	</complexType>
      	<complexType name="telefono">
      		<sequence>
      			<element name="telefonoId" nillable="true" type="xsd:int"/>
      			<element name="telefono" nillable="true" type="xsd:string"/>
      		</sequence>
      	</complexType>
      	<complexType name="eMail">
      		<sequence>
      			<element name="eMailId" nillable="true" type="xsd:int"/>
      			<element name="eMail" nillable="true" type="xsd:string"/>
      		</sequence>
      	</complexType>
      	<complexType name="anagrafica">
      		<sequence>
      			<element name="anagraficaId" nillable="true" type="xsd:int"/>
      			<element name="codiceFiscale" nillable="true" type="xsd:string"/>
      			<element name="naturaGiuridica" nillable="true" type="xsd:string"/>
      			<element maxOccurs="1" minOccurs="0" name="cognome" nillable="true" type="xsd:string"/>
      			<element maxOccurs="1" minOccurs="0" name="nome" nillable="true" type="xsd:string"/>
      			<element maxOccurs="1" minOccurs="0" name="ragioneSociale" nillable="true" type="xsd:string"/>
      			<element maxOccurs="unbounded" minOccurs="0" name="indirizzi" nillable="true" type="tns1:indirizzo"/>
      			<element maxOccurs="unbounded" minOccurs="0" name="telefoni" nillable="true" type="tns1:telefono"/>
      			<element maxOccurs="unbounded" minOccurs="0" name="email" nillable="true" type="tns1:eMail"/>
      		</sequence>
      	</complexType>
      	<complexType name="dataValue">
      		<sequence>
      			<element name="dataValueId" nillable="true" type="xsd:int"/>
      			<element name="dataTypeId" nillable="true" type="xsd:int"/>
      			<element maxOccurs="1" minOccurs="0" name="dataTypeDescr" nillable="true" type="xsd:string"/>
      			<element maxOccurs="1" minOccurs="0" name="renderingType" nillable="true" type="xsd:string"/>
      			<element maxOccurs="1" minOccurs="0" name="titleCssClass" nillable="true" type="xsd:string"/>
      			<element maxOccurs="1" minOccurs="0" name="valueCssClass" nillable="true" type="xsd:string"/>
      			<element maxOccurs="1" minOccurs="0" name="value" nillable="true" type="xsd:string"/>
      			<element maxOccurs="unbounded" minOccurs="0" name="detailDataValues" nillable="true" type="tns1:dataValue"/>
      			<element name="parentDataTypeId" nillable="true" type="xsd:int"/>
      		</sequence>
      	</complexType>
      	<complexType name="entityItem">
      		<sequence>
      			<element name="entityItemId" nillable="true" type="xsd:int"/>
      			<element name="entityId" nillable="true" type="xsd:int"/>
      			<element maxOccurs="1" minOccurs="0" name="entityDescr" nillable="true" type="xsd:string"/>
      			<element maxOccurs="1" minOccurs="0" name="renderingType" nillable="true" type="xsd:string"/>
      			<element maxOccurs="1" minOccurs="0" name="entityItemRef" nillable="true" type="xsd:string"/>
      			<element maxOccurs="unbounded" minOccurs="0" name="dataValues" nillable="true" type="tns1:dataValue"/>
      			<element maxOccurs="unbounded" minOccurs="0" name="detailEntityItems" nillable="true" type="tns1:entityItem"/>
      		</sequence>
      	</complexType>
      	<complexType name="fascicolo">
      		<sequence>
      			<element name="fascicoloId" nillable="true" type="xsd:string"/>
      			<element name="callerId" nillable="true" type="xsd:string"/>
      			<element name="dataApertura" nillable="true" type="xsd:string"/>
      			<element name="dataChiusura" nillable="true" type="xsd:string"/>
      			<element name="statoFascicoloId" nillable="true" type="xsd:int"/>
      			<element name="statoFascicoloDescr" nillable="true" type="xsd:string"/>
      			<element name="anagrafica" nillable="true" type="tns1:anagrafica"/>
      			<element maxOccurs="unbounded" minOccurs="0" name="cartelle" nillable="true" type="tns1:entityItem"/>
      			<element maxOccurs="unbounded" minOccurs="0" name="documenti" nillable="true" type="tns1:entityItem"/>
      			<element name="chiuso" type="boolean"/>
      			<element name="dataUltimoAggiornamento" nillable="true" type="date">
      			</element>
      			<element name="dataUltimoAggiornamentoDocumentiEsattoriali" nillable="true" type="date">
      			</element>
      		</sequence>
      	</complexType>
      	<element name="getFascicoloWSResponse">
      		<complexType>
      			<sequence>
      				<element maxOccurs="1" minOccurs="0" name="fascicolo" nillable="true" type="tns1:fascicolo"/>
      			</sequence>
      		</complexType>
      	</element>


      	<xsd:element name="getDocumentiEsattorialiNonCartelleWSRequest">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="1" name="fascicoloId" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="callerId" type="xsd:string"/>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      	<xsd:element name="getDocumentiEsattorialiNonCartelleWSResponse">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element minOccurs="0" name="fascicolo" nillable="true" type="tns1:fascicolo"/>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>


      	<xsd:element name="getPdfDocumentoWSRequest">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="1" name="fascicoloId" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="callerId" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="numeroDocumento" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="cf" type="xsd:string"/>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      	<xsd:element name="getPdfDocumentoWSResponse">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="1" name="esito" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="0" name="pdf" type="xsd:base64Binary"/>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      	<xsd:element name="bpsPdfDocumentoResultWSRequest">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="1" name="esitoElaborazione" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="pdf" type="xsd:base64Binary"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="fascicoloId" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="callerId" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="numeroDocumento" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="cf" type="xsd:string"/>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      	<xsd:element name="bpsPdfDocumentoResultWSResponse">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="1" name="esito" type="xsd:string"/>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      	<xsd:element name="getRelateWSRequest">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="1" name="fascicoloId" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="callerId" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="numeroDocumento" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="cf" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="download" type="xsd:string"/>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      	<xsd:element name="getRelateWSResponse">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="1" name="esito" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="0" name="pdf" type="xsd:base64Binary"/>
      				<xsd:element maxOccurs="1" minOccurs="0" name="dataAggiornamento" type="xsd:string"/>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      	<xsd:element name="bpsRelateResultWSRequest">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="1" name="esitoElaborazione" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="spazioInternalNumber" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="fascicoloId" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="callerId" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="numeroDocumento" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="cf" type="xsd:string"/>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      	<xsd:element name="bpsRelateResultWSResponse">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="1" name="esito" type="xsd:string"/>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>


      	<xsd:element name="pdfEstrattoContoWSRequest">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="1" name="cf" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="fascicoloId" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="callerId" type="xsd:string"/> 
      				<xsd:element maxOccurs="1" minOccurs="1" name="tipologia" type="xsd:string"/>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      	<xsd:element name="pdfEstrattoContoWSResponse">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="1" name="esito" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="0" name="descrizioneEsito" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="0" name="pdf" type="xsd:base64Binary"/>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      	<xsd:element name="updateAnagraficaWSRequest">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="1" name="fascicoloId" type="xsd:string"/>
      				<xsd:element maxOccurs="1" minOccurs="1" name="callerId" type="xsd:string"/> 
      				<element maxOccurs="unbounded" minOccurs="0" name="email" type="string"/> 
      				<element maxOccurs="unbounded" minOccurs="0" name="indirizzo" type="string"/> 
      				<element maxOccurs="unbounded" minOccurs="0" name="numeroTelefono" type="string"/>
      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>
      	<xsd:element name="updateAnagraficaWSResponse">
      		<xsd:complexType>
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="1" name="esito" type="xsd:string"/>


      			</xsd:sequence>
      		</xsd:complexType>
      	</xsd:element>


      	<element name="getCartellaWSRequest">
      		<complexType>
      			<sequence>
      				<element name="fascicoloId" type="xsd:string"/>
      				<element name="callerId" type="xsd:string"/>
      				<element name="numeroCartella" type="xsd:string"/>
      				<element name="codiceAmbito" type="xsd:string"/>
      				<element name="tipoDocumento" type="xsd:string"/>
      			</sequence>
      		</complexType>
      	</element>
      	<element name="getCartellaWSResponse">
      		<complexType>
      			<sequence>
      				<element maxOccurs="1" minOccurs="0" name="fascicolo" nillable="true" type="tns1:fascicolo"/>
      			</sequence>
      		</complexType>
      	</element>
      	<element name="insertIndirizzoWSRequest">
      		<complexType>
      			<sequence>
      				<element name="fascicoloId" type="xsd:string"/>
      				<element name="callerId" type="xsd:string"/>
      				<element name="indirizzo" type="xsd:string"/>
      			</sequence>
      		</complexType>
      	</element>
      	<element name="insertIndirizzoWSResponse">
      		<complexType>
      			<sequence>
      				<element name="esito" type="xsd:string"/>
      			</sequence>
      		</complexType>
      	</element>
      	<element name="deleteIndirizzoWSRequest">
      		<complexType>
      			<sequence>
      				<element name="fascicoloId" type="xsd:string"/>
      				<element name="callerId" type="xsd:string"/>
      				<element name="indirizzoId" type="xsd:int"/>
      			</sequence>
      		</complexType>
      	</element>
      	<element name="deleteIndirizzoWSResponse">
      		<complexType>
      			<sequence>
      				<element name="esito" type="xsd:string"/>
      			</sequence>
      		</complexType>
      	</element>
      	<element name="insertTelefonoWSRequest">
      		<complexType>
      			<sequence>
      				<element name="fascicoloId" type="xsd:string"/>
      				<element name="callerId" type="xsd:string"/>
      				<element name="telefono" type="xsd:string"/>
      			</sequence>
      		</complexType>
      	</element>
      	<element name="insertTelefonoWSResponse">
      		<complexType>
      			<sequence>
      				<element name="esito" type="xsd:string"/>
      			</sequence>
      		</complexType>
      	</element>
      	<element name="deleteTelefonoWSRequest">
      		<complexType>
      			<sequence>
      				<element name="fascicoloId" type="xsd:string"/>
      				<element name="callerId" type="xsd:string"/>
      				<element name="telefonoId" type="xsd:int"/>
      			</sequence>
      		</complexType>
      	</element>
      	<element name="deleteTelefonoWSResponse">
      		<complexType>
      			<sequence>
      				<element name="esito" type="xsd:string"/>
      			</sequence>
      		</complexType>
      	</element>
      	<element name="insertEmailWSRequest">
      		<complexType>
      			<sequence>
      				<element name="fascicoloId" type="xsd:string"/>
      				<element name="callerId" type="xsd:string"/>
      				<element name="eMail" nillable="true" type="xsd:string"/>
      			</sequence>
      		</complexType>
      	</element>
      	<element name="insertEmailWSResponse">
      		<complexType>
      			<sequence>
      				<element name="esito" type="xsd:string"/>
      			</sequence>
      		</complexType>
      	</element>
      	<element name="deleteEmailWSRequest">
      		<complexType>
      			<sequence>
      				<element name="fascicoloId" type="xsd:string"/>
      				<element name="callerId" type="xsd:string"/>
      				<element name="eMailId" type="xsd:int"/>
      			</sequence>
      		</complexType>
      	</element>
      	<element name="deleteEmailWSResponse">
      		<complexType>
      			<sequence>
      				<element name="esito" type="xsd:string"/>
      			</sequence>
      		</complexType>
      	</element>
      	<element name="searchFascicoloWSRequest">
      		<complexType>
      			<sequence>
      				<element maxOccurs="1" minOccurs="1" name="fascicoloId" type="xsd:string"/>
      				<element maxOccurs="1" minOccurs="1" name="callerId" type="xsd:string"/>
      				<element maxOccurs="1" minOccurs="0" name="codiceFiscale" type="xsd:string"/>
      				<element maxOccurs="1" minOccurs="0" name="statoFascicolo" type="xsd:int"/>
      				<element maxOccurs="1" minOccurs="0" name="dataAperturaDa" type="xsd:date"/>
      				<element maxOccurs="1" minOccurs="0" name="dataAperturaA" type="xsd:date"/>
      				<element maxOccurs="1" minOccurs="0" name="dataChiusuraDa" type="xsd:date"/>
      				<element maxOccurs="1" minOccurs="0" name="dataChiusuraA" type="xsd:date"/>
      			</sequence>
      		</complexType>

      	</element>


      	<element name="searchFascicoloWSResponse">
      		<complexType>
      			<sequence>
      				<element maxOccurs="unbounded" minOccurs="0" name="fascicoloList" nillable="true" type="tns1:fascicoloList"/>
      			</sequence>
      		</complexType>
      	</element>


      	<complexType name="fascicoloList">
      		<sequence>
      			<element maxOccurs="1" minOccurs="1" name="fascicoloId" nillable="true" type="xsd:string"/>
      			<element maxOccurs="1" minOccurs="1" name="callerId" nillable="true" type="xsd:string"/>
      			<element maxOccurs="1" minOccurs="1" name="dataApertura" nillable="true" type="xsd:string"/>
      			<element maxOccurs="1" minOccurs="1" name="dataChiusura" nillable="true" type="xsd:string"/>
      			<element maxOccurs="1" minOccurs="1" name="statoFascicoloId" nillable="true" type="xsd:int"/>
      			<element maxOccurs="1" minOccurs="1" name="statoFascicoloDescr" nillable="true" type="xsd:string"/>
      			<element maxOccurs="1" minOccurs="1" name="codiceFiscale" nillable="true" type="xsd:string"/>
      		</sequence>
      	</complexType>




      	<complexType name="QuietanzeType">
      		<sequence>
      			<element name="numeroQuietanze" type="int"/>
      			<element minOccurs="0" name="ListaQuietanze" type="tns1:ListaQuietanzeType"/>
      		</sequence>
      	</complexType>
      	<complexType name="ListaQuietanzeType">
      		<sequence>
      			<element maxOccurs="unbounded" minOccurs="0" name="quietanza" type="tns1:QuietanzaType"/>
      		</sequence>
      	</complexType>
      	<complexType name="QuietanzaType">
      		<sequence>
      			<element default="0" name="numeroQuietanza" type="tns1:NumeroQuietanzaType"/>
      			<element default="" name="tipoPagamento" type="tns1:TipoCanalePagamentoType"/>
      			<element default="" name="canalePagamento" type="tns1:TipoCanalePagamentoType"/>
      			<element default="0001-01-01" name="dataPagamento" type="tns1:DataType"/>
      			<element default="0" name="importoQuietanza" type="tns1:ImportoType"/>
      			<element name="quietanzaAnnullata" type="tns1:IndicatoreQuietanzeAnnullateType"/>
      			<element default="0001-01-01" minOccurs="0" name="dataAnnulloQuietanza" type="tns1:DataType"/>
      			<element default="" name="codiceFiscaleVersante" type="tns1:CodiceFiscaleType"/>
      			<element default="0" name="importoTributi" type="tns1:ImportoType"/>
      			<element default="0" name="importoInteressiMora" type="tns1:ImportoType"/>
      			<element default="0" name="importoCompensi" type="tns1:ImportoType"/>
      			<element default="0" name="importoDirittiNotifica" type="tns1:ImportoType"/>
      			<element default="0" name="importoSpese" type="tns1:ImportoType"/>
      			<element name="tributiQuietanza" type="tns1:TributiQuietanzaType"/>
      		</sequence>
      	</complexType>
      	<complexType name="TributiQuietanzaType">
      		<sequence>
      			<element maxOccurs="unbounded" minOccurs="0" name="tributoQuietanza" type="tns1:TributoQuietanzaType"/>
      		</sequence>
      	</complexType>
      	<complexType name="TributoQuietanzaType">
      		<sequence>
      			<element default="" name="codiceTributo" type="tns1:CodiceTributoType"/>
      			<element default="" name="descrizioneTributo" type="tns1:DescrizioneTributoType"/>
      			<element default="0" name="progressivoTributo" type="tns1:ProgressivoTributoType"/>
      			<element default="0" name="annoTributo" type="tns1:AnnoType"/>
      			<element default="0" name="annoRuolo" type="tns1:AnnoType"/>
      			<element default="0" name="numeroRuolo" type="tns1:NumeroRuoloType"/>
      			<element default="0" name="codiceEnte" type="tns1:CodiceEnteType"/>
      			<element default="" minOccurs="0" name="tipoUfficio" type="tns1:TipoUfficioType"/>
      			<element default="" minOccurs="0" name="codiceUfficio" type="tns1:CodiceUfficioType"/>
      			<element default="" name="descrizioneEnte" type="tns1:DescrizioneEnteType"/>
      			<element default="0" name="importoTributi" type="tns1:ImportoType"/>
      			<element default="0" name="importoInteressiMora" type="tns1:ImportoType"/>
      			<element default="0" name="importoCompensi" type="tns1:ImportoType"/>
      			<element default="0" name="importoDirittiNotifica" type="tns1:ImportoType"/>
      			<element default="0" name="importoSpese" type="tns1:ImportoType"/>
      		</sequence>
      	</complexType>


      	<simpleType name="CodiceTributoType">
      		<restriction base="string"/>
      	</simpleType>
      	<simpleType name="CodiceFiscaleType">
      		<restriction base="string"/>
      	</simpleType>
      	<simpleType name="ImportoType">
      		<restriction base="double">
      			<minInclusive value="0"/>
      		</restriction>
      	</simpleType>
      	<simpleType name="NumeroQuietanzaType">
      		<restriction base="integer">
      			<totalDigits value="7"/>
      		</restriction>
      	</simpleType>
      	<simpleType name="TipoCanalePagamentoType">
      		<restriction base="string">
      			<maxLength value="30"/>
      		</restriction>
      	</simpleType>
      	<simpleType name="DataType">
      		<restriction base="date"/>
      	</simpleType>
      	<simpleType name="IndicatoreQuietanzeAnnullateType">
      		<restriction base="string">
      			<enumeration value="0"/>
      			<enumeration value="1"/>
      			<enumeration value="2"/>
      		</restriction>
      	</simpleType>
      	<simpleType name="DescrizioneTributoType">
      		<restriction base="string">
      			<maxLength value="50"/>
      		</restriction>
      	</simpleType>
      	<simpleType name="ProgressivoTributoType">
      		<restriction base="integer">
      			<totalDigits value="3"/>
      		</restriction>
      	</simpleType>
      	<simpleType name="AnnoType">
      		<restriction base="integer">
      			<totalDigits value="4"/>
      		</restriction>
      	</simpleType>
      	<simpleType name="NumeroRuoloType">
      		<restriction base="integer">
      			<totalDigits value="7"/>
      		</restriction>
      	</simpleType>
      	<simpleType name="CodiceEnteType">
      		<restriction base="integer">
      			<totalDigits value="5"/>
      		</restriction>
      	</simpleType>
      	<simpleType name="TipoUfficioType">
      		<restriction base="string">
      			<maxLength value="1"/>
      		</restriction>
      	</simpleType>
      	<simpleType name="CodiceUfficioType">
      		<restriction base="string">
      			<maxLength value="6"/>
      		</restriction>
      	</simpleType>
      	<simpleType name="DescrizioneEnteType">
      		<restriction base="string">
      			<maxLength value="50"/>
      		</restriction>
      	</simpleType>


      </schema>
      <schema elementFormDefault="qualified" targetNamespace="http://srv.gestorefascicolows.equitalia.it" xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://dati.gestorefascicolows.equitalia.it"/>
         <complexType name="FaultType">
            <sequence>
               <element name="code" type="xsd:int"/>
               <element name="message" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <element name="Fault" type="tns2:FaultType"/>
      </schema>
       
    </wsdl:types>
   <wsdl:message name="deleteEmailResponse">
      <wsdl:part element="tns1:deleteEmailWSResponse" name="deleteEmailWSResponse"/>
   </wsdl:message>
   <wsdl:message name="insertTelefonoResponse">
      <wsdl:part element="tns1:insertTelefonoWSResponse" name="insertTelefonoWSResponse"/>
   </wsdl:message>
   <wsdl:message name="getCartellaRequest">
      <wsdl:part element="tns1:getCartellaWSRequest" name="getCartellaWSRequest"/>
   </wsdl:message>
   <wsdl:message name="getCartellaResponse">
      <wsdl:part element="tns1:getCartellaWSResponse" name="getCartellaWSResponse"/>
   </wsdl:message>
   <wsdl:message name="chiusuraFascicoloRequest">
      <wsdl:part element="tns1:chiusuraFascicoloWSRequest" name="chiusuraFascicoloWSRequest"/>
   </wsdl:message>
   <wsdl:message name="insertIndirizzoResponse">
      <wsdl:part element="tns1:insertIndirizzoWSResponse" name="insertIndirizzoWSResponse"/>
   </wsdl:message>
   <wsdl:message name="deleteTelefonoResponse">
      <wsdl:part element="tns1:deleteTelefonoWSResponse" name="deleteTelefonoWSResponse"/>
   </wsdl:message>
   <wsdl:message name="deleteIndirizzoResponse">
      <wsdl:part element="tns1:deleteIndirizzoWSResponse" name="deleteIndirizzoWSResponse"/>
   </wsdl:message>
   <wsdl:message name="deleteEmailRequest">
      <wsdl:part element="tns1:deleteEmailWSRequest" name="deleteEmailWSRequest"/>
   </wsdl:message>
   <wsdl:message name="creazioneFascicoloResponse">
      <wsdl:part element="tns1:aperturaFascicoloWSResponse" name="aperturaFascicoloWSResponse"/>
   </wsdl:message>
   <wsdl:message name="deleteTelefonoRequest">
      <wsdl:part element="tns1:deleteTelefonoWSRequest" name="deleteTelefonoWSRequest"/>
   </wsdl:message>
   <wsdl:message name="insertTelefonoRequest">
      <wsdl:part element="tns1:insertTelefonoWSRequest" name="insertTelefonoWSRequest"/>
   </wsdl:message>
   <wsdl:message name="creazioneFascicoloRequest">
      <wsdl:part element="tns1:aperturaFascicoloWSRequest" name="aperturaFascicoloWSRequest"/>
   </wsdl:message>
   <wsdl:message name="getFascicoloResponse">
      <wsdl:part element="tns1:getFascicoloWSResponse" name="getFascicoloWSResponse"/>
   </wsdl:message>
   <wsdl:message name="chiusuraFascicoloResponse">
      <wsdl:part element="tns1:chiusuraFascicoloWSResponse" name="chiusuraFascicoloWSResponse"/>
   </wsdl:message>
   <wsdl:message name="insertEmailResponse">
      <wsdl:part element="tns1:insertEmailWSResponse" name="insertEmailWSResponse"/>
   </wsdl:message>
   <wsdl:message name="getFascicoloRequest">
      <wsdl:part element="tns1:getFascicoloWSRequest" name="getFascicoloWSRequest"/>
   </wsdl:message>
   <wsdl:message name="insertIndirizzoRequest">
      <wsdl:part element="tns1:insertIndirizzoWSRequest" name="insertIndirizzoWSRequest"/>
   </wsdl:message>
   <wsdl:message name="FaultType">
      <wsdl:part element="tns2:Fault" name="Fault"/>
   </wsdl:message>
   <wsdl:message name="deleteIndirizzoRequest">
      <wsdl:part element="tns1:deleteIndirizzoWSRequest" name="deleteIndirizzoWSRequest"/>
   </wsdl:message>
   <wsdl:message name="insertEmailRequest">
      <wsdl:part element="tns1:insertEmailWSRequest" name="insertEmailWSRequest"/>
   </wsdl:message>
	<wsdl:message name="searchFascicoloRequest">
		<wsdl:part element="tns1:searchFascicoloWSRequest" name="searchFascicoloWSRequest"/>
	</wsdl:message> 
	<wsdl:message name="searchFascicoloResponse">
		<wsdl:part element="tns1:searchFascicoloWSResponse" name="searchFascicoloWSResponse"/>
	</wsdl:message> 
	<wsdl:message name="getDocumentiEsattorialiNonCartelleWSRequest">
		<wsdl:part element="tns1:getDocumentiEsattorialiNonCartelleWSRequest" name="in"/>
	</wsdl:message> 
	<wsdl:message name="getDocumentiEsattorialiNonCartelleWSResponse">
		<wsdl:part element="tns1:getDocumentiEsattorialiNonCartelleWSResponse" name="out"/>
	</wsdl:message>
	
	
	<wsdl:message name="getPdfDocumentoWSRequest">
		<wsdl:part element="tns1:getPdfDocumentoWSRequest" name="in"/>
	</wsdl:message> 
	<wsdl:message name="getPdfDocumentoWSResponse">
		<wsdl:part element="tns1:getPdfDocumentoWSResponse" name="out"/>
	</wsdl:message> 
	<wsdl:message name="bpsPdfDocumentoResultWSRequest">
		<wsdl:part element="tns1:bpsPdfDocumentoResultWSRequest" name="in"/>
	</wsdl:message> 
	<wsdl:message name="bpsPdfDocumentoResultWSResponse">
		<wsdl:part element="tns1:bpsPdfDocumentoResultWSResponse" name="out"/>
	</wsdl:message> 
	<wsdl:message name="getRelateWSRequest">
		<wsdl:part element="tns1:getRelateWSRequest" name="in"/>
	</wsdl:message> 
	<wsdl:message name="getRelateWSResponse">
		<wsdl:part element="tns1:getRelateWSResponse" name="out"/>
	</wsdl:message>
	<wsdl:message name="bpsRelateResultWSRequest">
		<wsdl:part element="tns1:bpsRelateResultWSRequest" name="in"/>
	</wsdl:message>
	<wsdl:message name="bpsRelateResultWSResponse">
		<wsdl:part element="tns1:bpsRelateResultWSResponse" name="out"/>
	</wsdl:message>
	
	
	<wsdl:message name="pdfEstrattoContoWSRequest">
		<wsdl:part element="tns1:pdfEstrattoContoWSRequest" name="in"/>
	</wsdl:message>
	<wsdl:message name="pdfEstrattoContoWSResponse">
		<wsdl:part element="tns1:pdfEstrattoContoWSResponse" name="out"/>
	</wsdl:message>
	
	
	<wsdl:message name="updateAnagraficaWSRequest">
		<wsdl:part element="tns1:updateAnagraficaWSRequest" name="in"/>
	</wsdl:message>
	<wsdl:message name="updateAnagraficaWSResponse">
		<wsdl:part element="tns1:updateAnagraficaWSResponse" name="out"/>
	</wsdl:message>

	<wsdl:message name="CallBackPdfDocumentoRequest">
		<wsdl:part element="tns3:CallBackPdfDocumentoRequest" name="in"/>
	</wsdl:message>
	<wsdl:message name="CallBackPdfDocumentoResponse">
		<wsdl:part element="tns3:CallBackPdfDocumentoResponse" name="out"/>
	</wsdl:message>
	
	
	<wsdl:message name="CallBackRelateDocumentoRequest">
		<wsdl:part element="tns4:CallBackRelateDocumentoRequest" name="in"/>
	</wsdl:message>
	<wsdl:message name="CallBackRelateDocumentoResponse">
		<wsdl:part element="tns4:CallBackRelateDocumentoResponse" name="out"/>
	</wsdl:message>
	<wsdl:message name="CallBackRelateDocumentoFault">
		<wsdl:part element="tns4:CallBackRelateDocumentoFault" name="fault"/>
	</wsdl:message>
	
	<wsdl:portType name="GestoreFascicoloWSInterface">
      <wsdl:operation name="creazioneFascicolo" parameterOrder="aperturaFascicoloWSRequest">
         <wsdl:input message="intf:creazioneFascicoloRequest" name="creazioneFascicoloRequest"/>
         <wsdl:output message="intf:creazioneFascicoloResponse" name="creazioneFascicoloResponse"/>
         <wsdl:fault message="intf:FaultType" name="FaultType"/>
      </wsdl:operation>
      <wsdl:operation name="chiusuraFascicolo" parameterOrder="chiusuraFascicoloWSRequest">
         <wsdl:input message="intf:chiusuraFascicoloRequest" name="chiusuraFascicoloRequest"/>
         <wsdl:output message="intf:chiusuraFascicoloResponse" name="chiusuraFascicoloResponse"/>
         <wsdl:fault message="intf:FaultType" name="FaultType"/>
      </wsdl:operation>
      <wsdl:operation name="getFascicolo" parameterOrder="getFascicoloWSRequest">
         <wsdl:input message="intf:getFascicoloRequest" name="getFascicoloRequest"/>
         <wsdl:output message="intf:getFascicoloResponse" name="getFascicoloResponse"/>
         <wsdl:fault message="intf:FaultType" name="FaultType"/>
      </wsdl:operation>
      <wsdl:operation name="getCartella" parameterOrder="getCartellaWSRequest">
         <wsdl:input message="intf:getCartellaRequest" name="getCartellaRequest"/>
         <wsdl:output message="intf:getCartellaResponse" name="getCartellaResponse"/>
         <wsdl:fault message="intf:FaultType" name="FaultType"/>
      </wsdl:operation>
      <wsdl:operation name="insertIndirizzo" parameterOrder="insertIndirizzoWSRequest">
         <wsdl:input message="intf:insertIndirizzoRequest" name="insertIndirizzoRequest"/>
         <wsdl:output message="intf:insertIndirizzoResponse" name="insertIndirizzoResponse"/>
         <wsdl:fault message="intf:FaultType" name="FaultType"/>
      </wsdl:operation>
      <wsdl:operation name="deleteIndirizzo" parameterOrder="deleteIndirizzoWSRequest">
         <wsdl:input message="intf:deleteIndirizzoRequest" name="deleteIndirizzoRequest"/>
         <wsdl:output message="intf:deleteIndirizzoResponse" name="deleteIndirizzoResponse"/>
         <wsdl:fault message="intf:FaultType" name="FaultType"/>
      </wsdl:operation>
      <wsdl:operation name="insertTelefono" parameterOrder="insertTelefonoWSRequest">
         <wsdl:input message="intf:insertTelefonoRequest" name="insertTelefonoRequest"/>
         <wsdl:output message="intf:insertTelefonoResponse" name="insertTelefonoResponse"/>
         <wsdl:fault message="intf:FaultType" name="FaultType"/>
      </wsdl:operation>
      <wsdl:operation name="deleteTelefono" parameterOrder="deleteTelefonoWSRequest">
         <wsdl:input message="intf:deleteTelefonoRequest" name="deleteTelefonoRequest"/>
         <wsdl:output message="intf:deleteTelefonoResponse" name="deleteTelefonoResponse"/>
         <wsdl:fault message="intf:FaultType" name="FaultType"/>
      </wsdl:operation>
      <wsdl:operation name="insertEmail" parameterOrder="insertEmailWSRequest">
         <wsdl:input message="intf:insertEmailRequest" name="insertEmailRequest"/>
         <wsdl:output message="intf:insertEmailResponse" name="insertEmailResponse"/>
         <wsdl:fault message="intf:FaultType" name="FaultType"/>
      </wsdl:operation>
      <wsdl:operation name="deleteEmail" parameterOrder="deleteEmailWSRequest">
         <wsdl:input message="intf:deleteEmailRequest" name="deleteEmailRequest"/>
         <wsdl:output message="intf:deleteEmailResponse" name="deleteEmailResponse"/>
         <wsdl:fault message="intf:FaultType" name="FaultType"/>
      </wsdl:operation>
      <wsdl:operation name="searchFascicolo" parameterOrder="searchFascicoloWSRequest">
         <wsdl:input message="intf:searchFascicoloRequest" name="searchFascicoloRequest"/>
         <wsdl:output message="intf:searchFascicoloResponse" name="searchFascicoloResponse"/>
         <wsdl:fault message="intf:FaultType" name="FaultType"/>
      </wsdl:operation>
	  <wsdl:operation name="getDocumentiEsattorialiNonCartelle">
			<wsdl:input message="intf:getDocumentiEsattorialiNonCartelleWSRequest"/>
			<wsdl:output message="intf:getDocumentiEsattorialiNonCartelleWSResponse"/>
			<wsdl:fault message="intf:FaultType" name="FaultType"/>
	  </wsdl:operation>
	  
		<wsdl:operation name="getPdfDocumento">
			<wsdl:input message="intf:getPdfDocumentoWSRequest"/>
			<wsdl:output message="intf:getPdfDocumentoWSResponse"/>
			<wsdl:fault message="intf:FaultType" name="FaultType"/>
		</wsdl:operation>
		<wsdl:operation name="bpsPdfDocumentoResult">
			<wsdl:input message="intf:bpsPdfDocumentoResultWSRequest"/>
			<wsdl:output message="intf:bpsPdfDocumentoResultWSResponse"/>
			<wsdl:fault message="intf:FaultType" name="FaultType"/>
		</wsdl:operation>
		
		
		
		<wsdl:operation name="getRelate">
			<wsdl:input message="intf:getRelateWSRequest"/>
			<wsdl:output message="intf:getRelateWSResponse"/>
			<wsdl:fault message="intf:FaultType" name="FaultType"/>
		</wsdl:operation>
		<wsdl:operation name="bpsRelateResult">
			<wsdl:input message="intf:bpsRelateResultWSRequest"/>
			<wsdl:output message="intf:bpsRelateResultWSResponse"/>
			<wsdl:fault message="intf:FaultType" name="FaultType"/>
		</wsdl:operation> 
		<wsdl:operation name="pdfEstrattoConto">
			<wsdl:input message="intf:pdfEstrattoContoWSRequest"/>
			<wsdl:output message="intf:pdfEstrattoContoWSResponse"/>
			<wsdl:fault message="intf:FaultType" name="FaultType"/>
		</wsdl:operation> 
      
		<wsdl:operation name="updateAnagrafica">
			<wsdl:input message="intf:updateAnagraficaWSRequest"/>
			<wsdl:output message="intf:updateAnagraficaWSResponse"/>
			<wsdl:fault message="intf:FaultType" name="FaultType"/>
		</wsdl:operation>
		<wsdl:operation name="CallBackPdfDocumento">
			<wsdl:input message="intf:CallBackPdfDocumentoRequest"/>
			<wsdl:output message="intf:CallBackPdfDocumentoResponse"/>
		</wsdl:operation>
		 
		<wsdl:operation name="callBackRelateDocumento">
			<wsdl:input message="intf:CallBackRelateDocumentoRequest"/>
			<wsdl:output message="intf:CallBackRelateDocumentoResponse"/> 
      		<wsdl:fault message="intf:CallBackRelateDocumentoFault" name="CallBackRelateDocumentoFaultType"/>
		</wsdl:operation>
		  
	</wsdl:portType>
   
   
   
   <wsdl:binding name="GestoreFascicoloWSSoapBinding" type="intf:GestoreFascicoloWSInterface">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
       
       
      <wsdl:operation name="creazioneFascicolo">
         <wsdlsoap:operation soapAction="urn:aperturaFascicolo"/>
         <wsdl:input name="creazioneFascicoloRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="creazioneFascicoloResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultType">
            <wsdlsoap:fault name="FaultType" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="chiusuraFascicolo">
         <wsdlsoap:operation soapAction="urn:chiusuraFascicolo"/>
         <wsdl:input name="chiusuraFascicoloRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="chiusuraFascicoloResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultType">
            <wsdlsoap:fault name="FaultType" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getFascicolo">
         <wsdlsoap:operation soapAction="urn:getFascicolo"/>
         <wsdl:input name="getFascicoloRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="getFascicoloResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultType">
            <wsdlsoap:fault name="FaultType" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCartella">
         <wsdlsoap:operation soapAction="urn:getCartella"/>
         <wsdl:input name="getCartellaRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="getCartellaResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultType">
            <wsdlsoap:fault name="FaultType" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="insertIndirizzo">
         <wsdlsoap:operation soapAction="urn:insertIndirizzo"/>
         <wsdl:input name="insertIndirizzoRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="insertIndirizzoResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultType">
            <wsdlsoap:fault name="FaultType" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteIndirizzo">
         <wsdlsoap:operation soapAction="urn:deleteIndirizzo"/>
         <wsdl:input name="deleteIndirizzoRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="deleteIndirizzoResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultType">
            <wsdlsoap:fault name="FaultType" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="insertTelefono">
         <wsdlsoap:operation soapAction="urn:insertTelefono"/>
         <wsdl:input name="insertTelefonoRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="insertTelefonoResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultType">
            <wsdlsoap:fault name="FaultType" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteTelefono">
         <wsdlsoap:operation soapAction="urn:deleteTelefono"/>
         <wsdl:input name="deleteTelefonoRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="deleteTelefonoResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultType">
            <wsdlsoap:fault name="FaultType" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="insertEmail">
         <wsdlsoap:operation soapAction="urn:insertEmail"/>
         <wsdl:input name="insertEmailRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="insertEmailResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultType">
            <wsdlsoap:fault name="FaultType" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteEmail">
         <wsdlsoap:operation soapAction="urn:deleteEmail"/>
         <wsdl:input name="deleteEmailRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="deleteEmailResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultType">
            <wsdlsoap:fault name="FaultType" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="searchFascicolo">
         <wsdlsoap:operation soapAction="urn:searchFascicolo"/>
         <wsdl:input name="searchFascicoloRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="searchFascicoloResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultType">
            <wsdlsoap:fault name="FaultType" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>

	  <wsdl:operation name="getDocumentiEsattorialiNonCartelle">
			<wsdlsoap:operation soapAction="urn:getDocumentiEsattorialiNonCartelle"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
         <wsdl:fault name="FaultType">
            <wsdlsoap:fault name="FaultType" use="literal"/>
         </wsdl:fault>
	  </wsdl:operation>
	  
	  
	  <wsdl:operation name="getPdfDocumento">
			<wsdlsoap:operation soapAction="urn:getPdfDocumento"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
         <wsdl:fault name="FaultType">
            <wsdlsoap:fault name="FaultType" use="literal"/>
         </wsdl:fault>
	  </wsdl:operation> 
		
	  <wsdl:operation name="bpsPdfDocumentoResult">
			<wsdlsoap:operation soapAction="urn:bpsPdfDocumentoResult"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
         <wsdl:fault name="FaultType">
            <wsdlsoap:fault name="FaultType" use="literal"/>
         </wsdl:fault>
	  </wsdl:operation>  
		<wsdl:operation name="getRelate">
			<wsdlsoap:operation soapAction="urn:getRelate"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
         <wsdl:fault name="FaultType">
            <wsdlsoap:fault name="FaultType" use="literal"/>
         </wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="bpsRelateResult">
			<wsdlsoap:operation soapAction="urn:bpsRelateResult"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
         <wsdl:fault name="FaultType">
            <wsdlsoap:fault name="FaultType" use="literal"/>
         </wsdl:fault>
		</wsdl:operation>
      
		<wsdl:operation name="pdfEstrattoConto">
			<wsdlsoap:operation soapAction="urn:pdfEstrattoConto"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
         <wsdl:fault name="FaultType">
            <wsdlsoap:fault name="FaultType" use="literal"/>
         </wsdl:fault>
		</wsdl:operation>
		
		
      <wsdl:operation name="updateAnagrafica">
			<wsdlsoap:operation soapAction="urn:updateAnagrafica"/>
			 <wsdl:input>
				<wsdlsoap:body use="literal"/>
			 </wsdl:input>
			 <wsdl:output>
				<wsdlsoap:body use="literal"/>
			 </wsdl:output>
	         <wsdl:fault name="FaultType">
	            <wsdlsoap:fault name="FaultType" use="literal"/>
	         </wsdl:fault>
      </wsdl:operation>
		
		<wsdl:operation name="CallBackPdfDocumento">
			<wsdlsoap:operation soapAction="urn:CallBackPdfDocumento"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation> 
		
		<wsdl:operation name="callBackRelateDocumento">
			<wsdlsoap:operation soapAction="urn:callBackRelateDocumento"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output> 
	         <wsdl:fault name="CallBackRelateDocumentoFaultType">
	            <wsdlsoap:fault name="CallBackRelateDocumentoFaultType" use="literal"/>
	         </wsdl:fault>
		</wsdl:operation>
		
   </wsdl:binding>
   <wsdl:service name="GestoreFascicoloWS">
      <wsdl:port binding="intf:GestoreFascicoloWSSoapBinding" name="GestoreFascicoloWS">
         <wsdlsoap:address location="http://localhost:9080/GestoreFascicoloWS/services/GestoreFascicoloWS"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>