GestoreFascicoloWS/WebContent/wsdl/pdfdocumentostandardcallback.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xsd.bpel.pdfdocumentostandardcallback.equitalia.it" version="1.1" xml:lang="IT" xmlns="http://xsd.bpel.pdfdocumentostandardcallback.equitalia.it" xmlns:tns="http://xsd.bpel.pdfdocumentostandardcallback.equitalia.it" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			
	<xsd:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="xmlmime.xsd"/>
	<xsd:element name="CallBackPdfDocumentoRequest" type="tns:CallBackPdfDocumentoRequestType"/>
	<xsd:element name="CallBackPdfDocumentoResponse" type="tns:CallBackPdfDocumentoResponseType"/>
	<xsd:element name="CallBackPdfDocumentoFault" type="tns:CallBackPdfDocumentoFaultType"/>
	<xsd:complexType name="CallBackPdfDocumentoRequestType">
		<xsd:sequence>
			<xsd:element name="CorrelationId" type="xsd:string"/>
			<xsd:element name="Esito" type="tns:EsitoType"/>
			<xsd:element minOccurs="0" name="MtomAttachment" nillable="true" type="tns:MtomAttachmentType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CallBackPdfDocumentoResponseType">
		<xsd:sequence>
			<xsd:element name="Esito" type="tns:EsitoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MtomAttachmentType">
		<xsd:sequence>
			<xsd:element name="NomeFile" type="xsd:string"/>
			<xsd:element name="File" type="xmime:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EsitoType">
		<xsd:sequence>
			<xsd:element name="CodiceEsito" type="xsd:string"/>
			<xsd:element name="DescrizioneEsito" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CallBackPdfDocumentoFaultType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="faultcode" type="xsd:string"/>
			<xsd:element name="faultdescription" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>