GestoreFascicoloWS/WebContent/wsdl/RelateDocumentoStandardCallBack.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xsd.bpel.relatedocumentostandardcallback.equitalia.it" version="1.1" xml:lang="IT" xmlns="http://xsd.bpel.relatedocumentostandardcallback.equitalia.it" xmlns:tns="http://xsd.bpel.relatedocumentostandardcallback.equitalia.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="CallBackRelateDocumentoRequest" type="tns:CallBackRelateDocumentoRequestType"/>
	<xsd:element name="CallBackRelateDocumentoResponse" type="tns:CallBackRelateDocumentoResponseType"/>
	<xsd:element name="CallBackRelateDocumentoFault" type="tns:CallBackRelateDocumentoFaultType"/>
	<xsd:complexType name="CallBackRelateDocumentoRequestType">
		<xsd:sequence>
			<xsd:element name="CorrelationId" type="xsd:string"/>
			<xsd:element name="CodiceEsito" type="tns:EsitoType"/>
			<xsd:element minOccurs="0" name="FileReference" nillable="true" type="tns:FileReferenceType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CallBackRelateDocumentoResponseType">
		<xsd:sequence>
			<xsd:element name="Esito" type="tns:EsitoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FileReferenceType">
		<xsd:sequence>
			<xsd:element name="NomeFile" type="xsd:string"/>
			<xsd:element name="InternalNumber" type="xsd:string"/>
			<xsd:element name="QueueManager" type="xsd:string"/>
			<xsd:element name="Queue" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EsitoType">
		<xsd:sequence>
			<xsd:element name="CodiceEsito" type="xsd:string"/>
			<xsd:element name="DescrizioneEsito" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CallBackRelateDocumentoFaultType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="faultcode" type="xsd:string"/>
			<xsd:element name="faultdescription" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>